/*------COLORS------*/
:root{
    --primary-red: #901C1C ;
    --secondary: #D3573C ;
    --secondary-beige: #DB8876 ;
    --tertiary: #525252 ;
    --quaternary: #FAFAFA ;
}
.primary{
    color: var(--primary-red);
}
.secondary{
    color: var(--secondary);
}
.tertiary{
    color: var(--tertiary);
}
.bg-quaternary{
    background-color: var(--quaternary);
}
.bg-secondary-beige{
    background-color: var(--secondary-beige);
}


/*------GENERAL------*/
:root{
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
    margin-top: 1rem;
}
p{
    margin: 0;
}
img{
    margin: 0px;
}
*{
    margin: 0;
}
/*------GENERAL-CLASSES------*/
.w-fit{
    width: fit-content;
}
.h-fit{
    height: fit-content;
}
.bgr-primary{
    background-color: var(--primary-red);
}
.white{
    color: white;
}

/*------CUSTOM BOOTSTRAP------*/

.mx-auto{
    display: block;
    margin: auto;
}
.row{
    margin: 0;
    padding: 0;
    --bs-gutter-y:0rem;
    margin-top: 0;
}
.col{
    margin: 0;
    padding: 0;
}

/*------NAVBAR------*/
.navbar{
    padding: 3rem;
}
.navbar-nav{
    justify-content: space-between;
}
.logo{
    height: 50px;
}
/*------SELECT-SORT------*/
.select-sort{
    border-radius: .5rem;
    margin: 2rem;
    padding: .5rem 2rem .5rem 1rem;
}
.select-sort p{
    display: block;
    width: 100px;
    height: 200px;
    padding: 5rem;
}

/*------PHOTOGRAPHES------*/
.sq200{
    display: block;
    width: 200px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.333) 0rem 0rem 1rem;
}
.rounded-circle{
    object-fit: cover;
}
.p-city{
    font-size: 1.2rem;
}
.p-slogan{
    font-weight: semibold;
    color: black;
}
.img-logo{
    width: 200px;
}
.home-fig{
    --bs-gutter-y:3rem;
}
/*------TOTAL LIKES------*/
.likes-total-container{
    position:fixed;
    bottom: 0;
    width:initial;
    justify-content: flex-end;
}
.likes-total{
    position: fixed;
    width: 350px;
    height: 50px;
    border-radius: .5rem .5rem 0 0;
    align-content: center;
    bottom: 0;

}
.likes-total div{
    align-items: center;
    justify-content: center;
}
.likes-total div p{
    font-size: 1.25rem;
    margin: 0 0rem 0rem 0rem;
    font-weight: bold;
}
/*------PHOTOGRAPHER-PAGE------*/
.personal-fig{
    width: 350px;
    height: 350px;
    padding:0;
}
.personal-fig footer{
    height: 50px;
    align-items: center;
}
.personal-fig img,.personal-fig video{
    width: 100%;
    height: 300px;
    border-radius: .5rem;
    object-fit:cover;
    margin: auto auto auto auto;
}
.row-photographer-info{
    align-items: center;
    height: 313px;
}
.button-like{
    border: 0px;
    background-color: white;
}



#modal-lb{
    background-color: white;
}
#modal-lb-dialog{
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}
.modal-content{
    border: 0;
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center;
}
#modal-lb button{
    border: none;
    background-color: white;
}
.modal-header{
    width: 90%;
    justify-content: flex-end;
    border: white;
}
.modal-body{
    justify-content: center;
    align-items: center;
    height:min-content;
}
.modal-body button {
    height: min-content;
}
.modal-footer{
    width: 100%;
    justify-content: center;
    border: white;
}
#modal-lb i{
    font-size: 3rem;
}
#img-lb{
    height: 100%;
    max-height: 87vh;
    width: auto;
    max-width: 80%;
}
.fa-times{
    position: fixed;
    top: 2rem;
    right: 3rem;
}